{% extends 'base.html' %} {% block content %}
<div class="col-md-8 offset-md-2">
  {% if overpaid %}
  <p class="text-center">Your balance is Rs. {{ total_bill }}</p>
  {% else %}
  <p class="text-center">You need to pay Rs. {{ total_bill }}</p>
  {% endif %} {% if transactions %}
  <!-- Payment Form -->
  <form method="POST" action="{% url 'transactions:payment' %}">
    {% csrf_token %}
    <div class="d-flex align-items-center mb-3">
      <input
        type="number"
        class="form-control me-2"
        name="amount"
        placeholder="Amount to pay (in Rs.)"
        style="max-width: 250px"
      />
      <button type="submit" class="btn btn-outline-primary">Pay</button>
    </div>
  </form>

  <!-- Transactions Table -->
  <table class="table table-light table-hover">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Transaction Name</th>
        <th scope="col">Balance</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %} {% if transaction.book %}
      <tr class="table-warning">
        <th scope="row">Billing</th>
        <td>
          Borrowed {{ transaction.book.name }} by
          {{transaction.book.author.name}} for {{ transaction.days_borrowed }}
          day(s).
        </td>
        <td>- Rs. {{ transaction.amount }}</td>
      </tr>
      {% else %}
      <tr class="table-success">
        <th scope="row">Payment</th>
        <td>Payment made</td>
        <td>+ Rs. {{ transaction.amount }}</td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if transactions.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">First</a>
      </li>
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ transactions.previous_page_number }}"
          >Previous</a
        >
      </li>
      {% endif %}

      <li class="page-item disabled">
        <span class="page-link">
          Page {{ transactions.number }} of {{transactions.paginator.num_pages}}
        </span>
      </li>

      {% if transactions.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ transactions.next_page_number }}"
          >Next</a
        >
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ transactions.paginator.num_pages }}"
          >Last</a
        >
      </li>
      {% endif %}
    </ul>
  </nav>
  {% else %}
  <p class="text-center">No transactions available.</p>
  {% endif %}
</div>
{% endblock %}
