{% extends 'base.html' %} {% block content %}
<div class="col-md-6 offset-md-3">
  <form method="POST" action="{% url 'users:register' %}">
    {% csrf_token %}
    <div class="row">
    <div class="mb-3 col">
      <label for="first_name" class="form-label">First Name</label>
      <input type="text" class="form-control" name="first_name" />
    </div>
    <div class="mb-3 col">
      <label for="last_name" class="form-label">Last Name</label>
      <input type="text" class="form-control" name="last_name" />
    </div>
    </div>
    <div class="row">
    <div class="mb-3 col">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" name="username" />
    </div>
    <div class="mb-3 col">
      <label for="email" class="form-label">Email Address</label>
      <input type="email" class="form-control" name="email" />
    </div>
    </div>
    <div class="row">
    <div class="mb-3 col">
      <label for="password1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password1">
    </div>
    <div class="mb-3 col">
      <label for="password2" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" name="password2" />
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
